* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

/* header */
header.header {
	position: relative;
	z-index: 9;
}

li.nav-item {
	padding: 0px 1rem;
	font-weight: bold;
	font-size: 1.15rem;
}

a.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}

/* home page */
.img {
	position: absolute;
	top: 0;
	height: 85vh;
	overflow: hidden;
	z-index: -1;
	width: 100%;
}

img {
	width: 100%;
	filter: brightness(0.7);
}

.text {
	padding: 10rem 0rem;
}

.text h1 {
	font-size: 5rem;
	font-weight: bold;
}

.blog-item {
	width: 60%;
	color: black;
	text-align: left;
}

.blog-item:hover {
	color: #0085a1;
}

/* contact */
/* .contact-img {
	height: 100% !important;
} */
